*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
}
.container {
	margin-left: auto;
	margin-right: auto;
}

#sec-1 {
	/* background: linear-gradient(RGBA(0,0,0,0.8),RGBA(0,0,0,0.8)),
		url('../images/Banner-bg.jpg') no-repeat center center; */
	background-image:url('../images/Banner-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px 10px 30px;
	color: #fff;
	background-size: cover;
	border-bottom: 50px solid #F0F2F3;
	
}

#sec-1 nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#sec-1 nav label {
	color: #fff;
	font-size: 1.3rem;
}

#sec-1 nav ul {
	background-color: RGBA(0,0,0,0.5);
	max-height: 0;
	transition: max-height 0.8s ease;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
}

#sec-1 nav>input {
	display: none;
}

#sec-1 nav>input:checked+ul {
	max-height: 500px;
}

#sec-1 nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	text-align: center;
	display: block;
	padding: 10px 0;
}



#sec-1 .container:nth-of-type(2){
	padding-top: 30px;
}

#sec-1 aside p:first-of-type {
	text-transform: uppercase;
	font-size: 0.9rem;
	font-style: italic;
}

#sec-1 aside h1:first-of-type {
	text-transform: uppercase;
}
#sec-1 aside h1:last-of-type {
	text-transform: uppercase;
	color: #F8B600;
	font-size: 1.5rem;
}
#sec-1 .container:nth-of-type(2) {
	display:flex ;
	flex-wrap: wrap;
	align-items: flex-end;
}
#sec-1 .container:nth-of-type(2) aside a{
	background-color: #405F7A;
	text-decoration: none;
	display: inline-block;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 0.8rem;
	border-radius: 1px;
	border: 1px solid #fff;
}
#sec-1 .container:nth-of-type(2) article
{
	position: relative;
	 
}
#sec-1 .container:nth-of-type(2) article img{
	width: 490px;
}

#sec-1 .container:nth-of-type(2) article footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #15212A;
	width: 490px;
	padding: 5px 15px; 
	position: absolute;
}
#sec-1 .container:nth-of-type(2) article footer:last-child h1{
	text-transform: uppercase;
	font-size: 0.9rem;
}
#sec-1 .container:nth-of-type(2) article footer:last-child h3{
	text-transform: capitalize;
	color: #F8B600;
	font-size: 0.9rem;
	text-align: right;
}

/*###############################sec2*/
#sec-2{
	margin-top: 30px;
}
#sec-2 .container-2 h1, p, ul{
text-align: center;
margin-bottom: 20px;
}
#sec-2 .container-2 h1{
	font-size: 28px;
}
#sec-2 .container-2 h1, ul{
text-transform: uppercase;
list-style-type: none;
}
/* #sec-2 .container-2 div{
	border-bottom: 2px solid #F8B600;
	width: 150px;
	margin-bottom: 50px;
} */
#sec-2 .container-2 li{
	display: inline-block;
	/* padding: 10px 15px; */
	border: 1px solid #A5AFC4;	
}
#sec-2 .container-2 li:nth-last-child(1){
	border-left: none;
}
#sec-2 .container-2 li:nth-last-child(2){
	border-left: none;
}
#sec-2 .container-2 a{
	text-decoration: none;
	color:#A5AFC4;
	display: inline-block;
	padding: 10px 15px;
	transition:background-color 0.8s ease;
}
#sec-2 .container-2 a:hover{
	color:#fff;
	background-color: #F8B600;
}

#sec-2 .container-2:nth-of-type(2){
	display:flex ;
	flex-wrap: wrap;
	justify-content: center;
}

#sec-2 .container-2:nth-of-type(2) img{
border: 5px solid #F0F2F3;
}
#sec-2 .container-2:nth-of-type(2) article h1{
color: #3D3D3D;
font-size: 1.5rem;
}
#sec-2 .container-2:nth-of-type(2) article h3{
	color: #F8B600;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
#sec-2 .container-2:nth-of-type(2) article p{
	text-align: center;
	padding: 0 5px;
}
/*###########################sec3*/
#sec-3{
	margin-top: 50px;
	background-image: url("../images/Services-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#sec-3 .container-3 h1{
	color: #fff;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	padding-top: 40px;
}
#sec-3 .container-3 p{
	color: #fff;
	text-align: center;
	padding-top: 10px;
}
#sec-3 .container-3:nth-of-type(2){
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom:  70px;
}
#sec-3 .container-3:nth-of-type(2) article img{
	padding-top: 30px ;
	padding-left: 32px ;

}
#sec-3 .container-3:nth-of-type(2) article:nth-child(1){
	background-image: url("../images/Development-bg.jpg");
	height: 350px;
	width: 40%;
	margin-bottom: 25px;
}
#sec-3 .container-3:nth-of-type(2) article:nth-child(2){
	background-image: url("../images/desgin-bg.jpg");
	height: 350px;
	width: 40%;
	margin-bottom: 15px;
}
#sec-3 .container-3:nth-of-type(2) article:nth-child(3){
	background-image: url("../images/concept-bg.jpg");
	height: 350px;
	width: 40%;
}
#sec-3 .container-3:nth-of-type(2) article:nth-child(4){
	background-image: url("../images/systam-bg.jpg");
	height: 350px;
	width: 40%;
}

/*sec4#################################*/

#sec-4{
	background-color: #ECECEC;
	padding: 50px 5px 0 5px;
}

#sec-4 .cotaniner-4 h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 32;
	font-weight: 500;
}
#sec-4 .cotaniner-4 p{
	text-align: center;
	color: #A69EA2;
}

#sec-4 .container-4:nth-of-type(2)
{
	color:#A49899;
	font-weight: 400;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px ;

}

#sec-4 .container-4:nth-of-type(2) ul{
	width: 32%;
	border: 1px solid #A49899;
}
#sec-4 .container-4:nth-of-type(2) li{
	padding: 10px;
	border-bottom: 1px solid #A49899;
}
#sec-4 .container-4:nth-of-type(2) li:first-child{
	color: #2D2D2D;
	background-color: #F8B600;
}
#sec-4 .container-4:nth-of-type(2) li:nth-child(2){
	color: #F8B600;
	font-size: 32px;
	font-weight:400;
	background-color:#15212A;
	padding: 20px;
}
#sec-4 .container-4:nth-of-type(2) li:last-child{
	background-color:#15212A;
	padding: 20px;
}
#sec-4 .container-4:nth-of-type(2) li:last-child a
{
 text-decoration: none;
 color: #fff;
}

/*sec5######################################*/
#sec-5{
	background-image: url("../images/Contact-bg.jpg");
	text-align: center;
	color:#fff;
	padding-top: 30px;
	margin: 0;
}

#sec-5 .container-5 h1{
 font-size: 32px;
 font-weight: 500px;
 text-transform: uppercase;
}
#sec-5 .container-5 p{
	padding-top: 15px;
	padding-bottom: 30px;
}

/*sec6############################################*/
#sec-6{
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#sec-6 .container-6:first-child{
	padding-top: 50px;
}
#sec-6 .container-6 input{
 height: 30px;
 width: 100%;
 border-radius: 2px;
 margin-bottom: 10px;

}
#sec-6 .container-6 input:nth-last-of-type(1){
	background-color: #F8B600;
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	color: #fff;
	text-align: center;
}
#sec-6 .container-6:nth-of-type(2){
color: #fff;

margin-top: 20px;

}
#sec-6 .container-6:nth-of-type(2) h1{
text-transform: uppercase;
font-weight: 400;
font-size: 1.7rem;
color: #F8B600;
}
/* #sec-6 .container-6:nth-of-type(2) p:nth-of-type(2)
{
	background-image: url('../images/phone-icn.png') no-repeat;
	background-size: contain;
}
#sec-6 .container-6:nth-of-type(2) p:nth-of-type(3)
{
	background-image: url('../images/mail-icn.png') no-repeat;
	background-size: contain;
} */


/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default if you use "mobile first" */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	
	#sec-1 {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	
	#sec-1 nav {
		flex-wrap: nowrap;
	}

	#sec-1 nav label {
		display: none;
	}

	#sec-1 nav ul {
		width: auto;
		max-height: none;
		background-color: transparent;
		margin-bottom: 0;
	}
	
	#sec-1 nav li {
		display: inline-block;
	}

	#sec-1 nav a {
		display: inline-block;
		padding: 5px 20px;
	}

	#sec-1 nav a:hover {
		background-color: #334F6D;
		border-bottom: 2px solid #F8B600 ;
	}

	
	#sec-1 .container:nth-of-type(2) aside{
		width: 49%;
	}

	#sec-1 .container:nth-of-type(2) article{
		width: 49%;
		padding-top: 50px;
	}
	/*#######################sec2*/
	#sec-2 .container-2:nth-of-type(2){
		flex-wrap: nowrap;
		justify-content:space-between;
		padding: 20px 300px 0 300px;
		align-items: center;
	}
	#sec-2 .container-2:nth-of-type(2) div{
		width: 49%;
	}
	#sec-2 .container-2:nth-of-type(2) article{
		width: 49%;
	}
	#sec-2 .container-2:nth-of-type(2) article h1{
		font-size: 0.9rem;
		text-align: left;
		margin-bottom: 0;
	}
	#sec-2 .container-2:nth-of-type(2) article h3{
			font-size: 0.7rem;
			text-align: left;
			margin-bottom: 2px;
	}
	#sec-2 .container-2:nth-of-type(2) article p{
			text-align: left;
			font-size: 0.7rem;
		
	}

	/*####################################sec3*/
	#sec-3 .container-3:nth-of-type(2){
		flex-wrap: nowrap;
		/* justify-content: space-between; */
		padding-top: 20px;
	}
	#sec-3 .container-3:nth-of-type(2) article img{
		padding-top:50px;
		padding-left: 47px ;
	
	}
	#sec-3 .container-3:nth-of-type(2) article:nth-child(1){

		width: 14.5%;
		margin-bottom: 0;
	}
	#sec-3 .container-3:nth-of-type(2) article:nth-child(2){

		width: 14.5%;
		margin-bottom: 0;
	}
	#sec-3 .container-3:nth-of-type(2) article:nth-child(3){

		width: 14.5%;
	}
	#sec-3 .container-3:nth-of-type(2) article:nth-child(4){

		width: 14.5%;
	}


	/*#######################sec4*/
	
	#sec-4 .cotaniner-4{
		padding-bottom: 50px;
	}

#sec-4 .container-4:nth-of-type(2)
{
	font-size: 24px;
	display: inline;
	justify-content: space-between;
}

#sec-4 .container-4:nth-of-type(2) ul{
	width: auto;

}
#sec-4 .container-4:nth-of-type(2) li{
	display: inline;
	padding:0;
	border-bottom: none;
	border-right: 1px solid #A49899;
}
#sec-4 .container-4:nth-of-type(2) li:first-child{
	color: #2D2D2D;
	background-color: #F8B600;
	padding:0;
}
#sec-4 .container-4:nth-of-type(2) li:nth-child(2){
	color: #F8B600;
	font-size: 30px;
	padding: 0;
}
#sec-4 .container-4:nth-of-type(2) li:last-child{
	padding: 0;
}
#sec-4 .container-4:nth-of-type(2) li:last-child a
{
 text-decoration: none;
 color: #fff;
}
/*sec5################################*/

/*sec6####################################*/
#sec-6{
	flex-wrap: nowrap;
	justify-content: space-evenly;

}
#sec-6 .container-6:first-child{
	width: 49%;
}
#sec-6 .container-6 input, textarea{
 width: 50%;

}

#sec-6 .container-6:nth-of-type(2){
margin-top: 50px;
width: 49%;
}

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}